[Unit]
Description=gunicorn daemon for restoran project
Requires=gunicorn_restoran.socket
After=network.target

[Service]
PermissionsStartOnly=True
User=dastan
Group=www-data
RuntimeDirectory=gunicorn
RuntimeDirectoryMode=0775
PIDFile=/run/gunicorn/pid
WorkingDirectory=/home/dastan/restoran
ExecStart=/home/dastan/restoran/env/bin/gunicorn \
          --access-logfile /home/dastan/restoran/logs/access.log \
          --error-logfile /home/dastan/restoran/logs/error.log \
          --pid /run/gunicorn/pid   \
          --env DJANGO_SETTINGS_MODULE=restoran.settings \
          --workers 3 \
          --bind unix:/run/gunicorn/restoran_socket restoran.wsgi:application
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
